<div style="height: 80vh;">
  <div class="flex-center">

    <div class="col-md-10">

      <div class="text-center animated fadeInUp faster">
        <img src="../../../assets/images/avatar.svg" class="img-fluid mb-3" width="65px" alt="Responsive image">
      </div>

      <h3 class="text-muted text-center font-weight-bold animated fadeInUp faster">Sign up</h3>

      <!-- Outline validation input -->
      <div class="md-form md-outline animated fadeInUp fast">
        <input mdbInput mdbValidate name="up_name" type="text" id="up_name" class="form-control" [(ngModel)]="up_name"
          #upName="ngModel" required pattern="^\s*(?:\S\s*){2,100}$" />
        <label for="up_name">Name</label>
        <mdb-error *ngIf="upName.invalid && (upName.dirty || upName.touched)">Input invalid
        </mdb-error>
        <mdb-success *ngIf="upName.valid && (upName.dirty || upName.touched)">Input valid
        </mdb-success>
      </div>

      <!-- Outline validation input -->
      <div class="md-form md-outline animated fadeInUp fast">
        <input mdbInput mdbValidate name="up_email" type="email" id="up_email" class="form-control"
          [(ngModel)]="up_email" #upEmail="ngModel" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" />
        <label for="up_email">Email</label>
        <mdb-error *ngIf="upEmail.invalid && (upEmail.dirty || upEmail.touched)">Input invalid
        </mdb-error>
        <mdb-success *ngIf="upEmail.valid && (upEmail.dirty || upEmail.touched)">Input valid
        </mdb-success>
      </div>

      <!-- Outline validation input -->
      <div class="md-form md-outline animated fadeInUp fast">
        <input mdbInput mdbValidate name="up_password" type="password" id="up_password" class="form-control"
          [(ngModel)]="up_password" #upPassword="ngModel" required
          pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" />
        <label for="up_password">Password</label>
        <mdb-error *ngIf="upPassword.invalid && (upPassword.dirty || upPassword.touched)">Minimum
          six
          characters, at least one letter, one number and one special character</mdb-error>
        <mdb-success *ngIf="upPassword.valid && (upPassword.dirty || upPassword.touched)">Input
          valid
        </mdb-success>
      </div>


      <div class="text-right hand auth_small animated fadeInDown fast" (click)="switch_component_to('Forget')">
        Forgot password?
      </div>

      <div class="text-center animated pulse" *ngIf="(upName.valid && upName.valid && upPassword.valid)">
        <button mdbBtn type="button" style="border-radius: 30px;" color="teal" outline="true" (click)="sign_up()"
          mdbWavesEffect>Sign up</button>
      </div>

      <div class="text-center animated pulse" *ngIf="!(upName.valid && upName.valid && upPassword.valid)">
        <button mdbBtn type="button" style="border-radius: 30px;" color="teal" outline="true" disabled
          mdbWavesEffect>Sign up</button>
      </div>

      <div class="text-center hand auth_small mt-4 animated fadeInDown fast" (click)="switch_component_to('Signin')">
        Have an account? Login
      </div>

    </div>


  </div>
</div>
