.article {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 1.1rem 1rem 0 0;
    padding: 1.4rem 1.6rem;
    background: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    font-size: 0;

    @media screen and (max-width: 700px) {
        padding: 0;   
        margin: 0;
    }

}

.user-link{
    cursor: pointer;
    &:hover{
        color: rgb(86, 177, 149);
    }
}