<div class="parallax">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 d-none d-md-block" style="height: 85vh">
        <div class="flex-center flex-column animated fadeIn">
          <img
            [src]="banner_image"
            class="img-fluid auth_img"
            alt="Responsive image"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="flex-center flex-column konnectHeading">
          <h4 class="display-1 animated fadeInUp faster">{{ header1 }}</h4>
          <h1 class="display-4 animated fadeInUp">{{ header2 }}</h1>
          <h4 class="h4-responsive animated fadeInUp slow">{{ header3 }}</h4>
          <h4 class="h4-responsive animated fadeInUp slower">{{ header4 }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div
  style="height: 94vh; background-image: url(../../../assets/images/gradient3.png); background-repeat: no-repeat; background-size: cover; background-position: center center;"
> -->
