<div class="main-content animated fadeIn">
  <div class="main">
    <div class="row">

      <div class="col-md-12 row top-section">

        <div class="col-md-5 col-sm-5">
          <div class="card main-img-card">
            <img *ngIf="profile.user.avatar != ''" [src]="sanitize(profile.user.avatar)" alt="" class="card-img">
            <img *ngIf="profile.user.avatar == ''" [src]="avatarUrl" alt="" class="card-img">
            <div class="white-text upload-image-icon" (click)="imageModal.showModal()">
              <p mdbWavesEffect>
                <mdb-icon fas icon="camera"></mdb-icon>
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-5">
            <button mdbBtn type="button" style="border-radius: 30px; min-width: 100%;" color="teal" outline="true"
              (click)="detailsModal.show()">
              Edit Profile</button>
          </div>
        </div>

        <div class="col-md-7 col-sm-12 mt-4">
          <!-- <div class="d-flex justify-content-around">
            <div class="card people-card">
              <img
                src="https://images.unsplash.com/photo-1550191778-d58f82c7ce5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                alt="" height="100px" class="card-img">
            </div>
            <div class="card people-card ml-3">
              <img
                src="https://images.unsplash.com/photo-1557684466-0e6563559d70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                alt="" height="100px" class="card-img">
            </div>
            <div class="card people-card ml-3">
              <img
                src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                alt="" height="100px" class="card-img">
            </div>
          </div> -->

          <div>
            <h2 class="mt-3">{{profile.user.name | titlecase}}</h2>
            
          </div>

          <hr>

          <div class="row">
            <div class="col-md-7">
              <p class="mt-3">{{profile.bio}}</p>
            </div>
            <div class="col-md-5 details text-center">

              <button class="btn btn-collected">
                <i class="fas fa-envelope"></i>
                {{profile.user.email}}
              </button>

              <button class="btn btn-collected">
                <i class="fas fa-phone-alt"></i>
                {{profile.user.mobile_number}}
              </button>

              <button class="btn btn-collected">
                <i class="fas fa-transgender-alt"></i>
                {{profile.user.gender | titlecase}}
              </button>

              <button class="btn btn-collected">
                {{profile.user.age}} yrs old
              </button>

              <hr>

              <button mdbBtn class="animated pulse infinite slower" type="button" style="border-radius: 30px; width: 100%;" color="teal" outline="true">
                <mdb-icon fab icon="kickstarter-k"></mdb-icon>  {{profile.points}}
              </button>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- -----------
           Modals 
      -------------->

<!-- Edit Personal Details Modal -->
<div mdbModal #detailsModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="detailsModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-3">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center justify-content-center">
            <div>
              <h3 class="text-muted font-weight-bold">Edit Personal Details</h3>

              <!-- Outline validation input Name -->
              <div *ngIf="currentUser" class="md-form md-outline radial-border">
                <input mdbInput mdbValidate name="name" type="text" id="name" class="form-control"
                  [(ngModel)]="currentUser.user.name" #name="ngModel" required pattern="^\s*(?:\S\s*){2,100}$" />
                <label class="control-label" for="name">Name</label>
                <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Input invalid</mdb-error>
                <mdb-success *ngIf="name.valid && (name.dirty || name.touched)">Input valid</mdb-success>
              </div>

              <!-- Outline validation input Email-->
              <div *ngIf="currentUser" class="md-form md-outline radial-border">
                <input mdbInput mdbValidate name="email" type="email" id="email" class="form-control" disabled
                  [(ngModel)]="currentUser.user.email" #email="ngModel" required
                  pattern="[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+(\.[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+)*@([a-zA-Z0-9_][-a-zA-Z0-9_]*(\.[-a-zA-Z0-9_]+)*\.([cC][oO][mM]))(:[0-9]{1,5})?" />
                <label class="control-label" for="up_email">Email</label>
                <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Input invalid</mdb-error>
                <mdb-success *ngIf="email.valid && (email.dirty || email.touched)">Input valid</mdb-success>
              </div>

              <!-- Outline validation input Mobile Number-->
              <div *ngIf="currentUser" class="md-form md-outline radial-border">
                <input mdbInput mdbValidate name="mobile_number" type="tel" id="mobile_number" class="form-control"
                  [(ngModel)]="currentUser.user.mobile_number" #mobile_number="ngModel" maxlength="10" minlength="10"
                  required pattern="^[0-9]*$" />
                <label class="control-label" for="mobile_number">Mobile Number</label>
                <mdb-error *ngIf="
                    mobile_number.invalid &&
                    (mobile_number.dirty || mobile_number.touched)
                  ">Input invalid
                </mdb-error>
                <mdb-success *ngIf="
                    mobile_number.valid &&
                    (mobile_number.dirty || mobile_number.touched)
                  ">Input valid
                </mdb-success>
              </div>

              <!-- Outline validation input Mobile Number-->
              <div *ngIf="currentUser" class="md-form md-outline radial-border">
                <input mdbInput mdbValidate name="age" type="number" id="age" class="form-control"
                  [(ngModel)]="currentUser.user.age" #age="ngModel" required />
                <label class="control-label" for="age">Age</label>
                <mdb-error *ngIf="age.invalid && (age.dirty || age.touched)">Input invalid
                </mdb-error>
                <mdb-success *ngIf="age.valid && (age.dirty || age.touched)">Input valid
                </mdb-success>
              </div>

              <!-- Outline validation input Mobile Number-->
              <div *ngIf="currentUser" class="md-form md-outline radial-border">
                <label class="custom-label" for="gender">Gender</label>
                <select class="browser-default custom-select" name="gender" [(ngModel)]="currentUser.user.gender"
                  class="form-control">
                  <option [selected]="currentUser.user.gender == 'Male' " value="Male">Male</option>
                  <option [selected]="currentUser.user.gender == 'Female' " value="Female">Female</option>
                </select>
              </div>

              <div *ngIf="currentUser" class="textwrapper browser-default radial-border">
                <textarea class="textbox" name="description" [(ngModel)]="currentUser.bio" rows="5"
                  placeholder="Bio"></textarea>
              </div>

              <div>
                <mdb-checkbox [(ngModel)]="editPassword">Edit Password?</mdb-checkbox>
              </div>

              <div *ngIf="currentUser && editPassword" class="md-form md-outline">
                <!-- Error Show When Passwords Don't Match -->
                <mdb-error *ngIf="passwordsDontMatch()">Passwords Don't Match</mdb-error>
              </div>

              <!-- Outline validation input Password-->
              <div *ngIf="currentUser && editPassword" class="md-form md-outline">
                <input mdbInput mdbValidate name="oldPassword" type="password" id="oldPassword" class="form-control"
                  [(ngModel)]="oldPass" #oldPassword="ngModel" required />
                <label class="control-label" for="oldPassword">Old Password</label>
              </div>

              <div *ngIf="currentUser && editPassword" class="md-form md-outline">
                <input mdbInput mdbValidate name="up_password" type="password" id="newPassword" class="form-control"
                  [(ngModel)]="newPass" #newPassword="ngModel" required
                  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" />
                <label class="control-label" for="newPassword">New Password</label>
                <mdb-error *ngIf="
                    newPassword.invalid &&
                    (newPassword.dirty || newPassword.touched)
                  ">Minimum six characters, at least one letter, one number and
                  one special character</mdb-error>
                <mdb-success *ngIf="
                    newPassword.valid &&
                    (newPassword.dirty || newPassword.touched)
                  ">Input valid
                </mdb-success>
              </div>

              <div *ngIf="currentUser && editPassword" class="md-form md-outline">
                <input mdbInput mdbValidate name="confPassword" type="password" id="confPassword" class="form-control"
                  [(ngModel)]="confPass" #confPassword="ngModel" required
                  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" />
                <label class="custom-label" for="confPassword">Confirm Password</label>
                <mdb-error *ngIf="
                    confPassword.invalid &&
                    (confPassword.dirty || confPassword.touched)
                  ">Minimum six characters, at least one letter, one number and
                  one special character</mdb-error>
                <mdb-success *ngIf="
                    confPassword.valid &&
                    (confPassword.dirty || confPassword.touched)
                  ">Input valid
                </mdb-success>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <div class="text-center animated pulse">
          <button mdbBtn type="button" style="border-radius: 30px;" color="teal" outline="true" (click)="emitUser()"
            mdbWavesEffect>
            Save
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- File(Image) Upload Component Modal -->
<app-fileupload #imageModal (outFile)="saveImage($event)" [accept]="'.png, .jpg, .jpeg'"></app-fileupload>
