<div class="main">
  <h1  class = "animated fadeIn"><strong>The Connekt Application</strong></h1>
  <ul class="cards animated fadeIn">
    <li class="cards_item">
      <div class="card">
        <div class="card_image" style ="padding: 0.5rem"><img src="../../../assets/images/add.svg">
          <h3 style ="padding: 0.5rem">Home</h3>
        </div>
        <div class="card_content home">
          <p class="card_text">
            The home page is the first page you see right after loging into Connekt.It has the list
            of all the interns that have registered into our applications.You get to see the intern's name and the
            points they have accummulated by engaging with our system.
          </p>
          <div class="points">
            <h4 class = "points-accumulaton">+30 Points after logging in every after 30 days</h4>
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image" style ="padding: 0.5rem"><img src="../../../assets/images/chat.svg">
          <h3 style ="padding: 0.5rem">Community</h3>
        </div>
        <div class="card_content community">
          <p class="card_text">
            Communty is a question and answer section.Here you can post any technical issues that you would like to be
            assisted in.By doing so you will accumulate (number of points).Other interns are then able to either
            like,dislike or comment on your post.
          </p>
          <div class="points">
            <h4 class="points-accumulaton">+30 Points every after 30 days</h4>
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        
        <div class="card_image" style ="padding: 0.5rem"><img src="../../../assets//images/draw.svg">
          <h3 style ="padding: 0.5rem">Blog</h3>
        </div>
        <div class="card_content blog">
          <p class="card_text">
            Blog is a page where anyone who has registered into the app gets to share any trending,latest tech news.By
            doing so you will accumulate (number of points).Other interns are only able to either like or dislike your
            post.
          </p>
          <div class="points"> 
            <h4 class ="points-accumulaton">+30 Points every after 30 days</h4>
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image" style ="padding: 0.5rem"><img src="../../../assets/images/edit.svg">
          <h3 style ="padding: 0.5rem">Dashboard</h3>
        </div>
        <div class="card_content dashboard">
          <p class="card_text">
            Dashboard is the user's profile,where they get to either add,delete or edit their personal information to
            help the company keep track of their employment statuses.
          </p>
          <div class="points">
            <h4 class= "points-accumulaton">+20 Points every after 30 days.</h4>
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image" style ="padding: 0.5rem"><img src="../../../assets/images/profile.svg">
          <h3 style ="padding: 0.5rem">Profile</h3>
        </div>
        <div class="card_content profile">
          <p class="card_text">
            This page is for a specific user's profile information.Everyone who uses Connekt is able to access this
            page,only by clicking on a specific intern from the intern's list.This will enable you to get more
            information about that specific
            intern.
          </p>
          <div class="points">
            <h4 class= "points-accumulaton">No points.</h4>
          </div>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image" style ="padding: 0.5rem"><img src="../../../assets/images/admin.svg">
          <h3 style ="padding: 0.5rem">Admin Dashboard</h3>
        </div>
        <div class="card_content">
          <p class="card_text">
            This page section is only accessed by the admin to get the applications stats.
          </p>
          <div class="points">

            <h4 class= "points-accumulaton">No points,Only viewed by admin.</h4>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<h3 class="made_by wow fadeInUp">Connekt ♡</h3>

<Footer></Footer>
