<!-- Footer -->
<footer class="page-footer font-small teal" style="margin-top: 20vh;">
    <!-- Footer Elements -->
    <div class="container">
        <!-- Grid row-->
        <div class="row">

            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">
                    <!-- Facebook -->
                    <a class="fb-ic" href="https://www.facebook.com/The-Digital-Academy-1417396758590167/" target="_blank">
                        <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" href="https://twitter.com/streetdev?lang=en" target="_blank">
                        <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                      <!--Instagram -->
                      <a class="btn-ins" href="https://www.instagram.com/digitalacademy_za/" target="_blank">
                        <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" href="https://www.thedigitalacademy.co.za/" target="_blank">
                        <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" href="https://www.linkedin.com/company/the-digital-academy-southafrica" target="_blank">
                        <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                  
                </div>
            </div>

        </div>
        <!-- Grid row-->
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="https://www.thedigitalacademy.co.za/"> TheDigitalAcademy.co.za</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->